<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoDependencyProperty.Fody" version="1.2.2.0" targetFramework="net45" developmentDependency="true" />
  <package id="Autofac" version="4.2.1" targetFramework="net45" />
  <package id="Fody" version="1.29.4" targetFramework="net45" developmentDependency="true" />
  <package id="morelinq" version="1.4.0" targetFramework="net45" />
  <package id="Polly" version="5.0.1-v5-0-alpha0001" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="1.52.1" targetFramework="net45" developmentDependency="true" />
  <package id="ServiceStack.Client" version="4.5.4" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.5.4" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.5.4" targetFramework="net45" />
  <package id="SevenZipSharp.Net45" version="1.0.5" targetFramework="net45" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net45" />
</packages>